---
import {Image} from 'astro:assets'
import iconLocation from '../images/icon-location.svg'
import logoFooter from '../images/logo-footer.svg'
import iconPhone from '../images/icon-phone.svg'
import iconMail from '../images/icon-email.svg'

import  facebook from '../images/facebook.svg'
import  twitterx from '../images/twitter.svg'
import  instagram from '../images/instagram.svg'
---
<footer class=
"bg-gray-800 text-white max-w-[375px]
mt-64 
pt-32 pl-4
relative
">
    <div>
        <Image 
        class="h-14 w-48 mb-8"  
        src={logoFooter} alt="logo"/>
    </div>
    <article>
        <section>
            <div class=
            "flex items-start gap-3 pr-16 pb-6">
             <Image class=
             "pt-2" 
             src={iconLocation} alt="location"/>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua
            </p>
            </div>
            <div class=
            "flex items-center gap-3 pb-6">
            <Image class=
            "" 
            src={iconPhone} alt="icon-phone"/>
            <p>+1-543-123-4567</p>
            </div>
            <div class=
            "flex items-center gap-3 pb-12">
            <Image src={iconMail} alt="icon-mail"/>
            <p>example@huddle.com</p>
            </div>
        </section>
        <section>
            <ul>
                <li class="pb-4 
                hover:underline hover:cursor-pointer"
                >About Us</li>
                <li class="pb-4 hover:underline hover:cursor-pointer">What We Do</li>
                <li class="pb-4 hover:underline hover:cursor-pointer">FAQ</li>
                <li class="pb-4 hover:underline hover:cursor-pointer">Career</li>
                <li class="pb-4 hover:underline hover:cursor-pointer">Blog</li>
                <li class="pb-8 hover:underline hover:cursor-pointer">Contact Us</li>
            </ul>
        </section>
        <section>
            <div class=
            "flex justify-center items-center gap-4 pr-4 pb-4">
            <Image class=
            "h-8 w-8 hover:cursor-pointer"
            id="facebook"
            src={facebook} alt="facebook"/>
            <Image class=
            "h-8 w-8 hover:cursor-pointer"
            id="twitterx" 
            src={twitterx} alt="twitterx"/>
            <Image class=
            "h-8 w-8 hover:cursor-pointer"
            id="instagram" 
            src={instagram} alt="instagram"/>    
            </div>
        </section>
        <p class=
        "pb-8">&copy; Copyright 2018 Huddle. All rights reserved.</p>
    </article>
    <p 
    class="pb-6 "
    >Project development by 
    <a class=
    "text-lg hover:text-green-300" 
    href=""
    >fonchi0010</a></p>
</footer>

<style>
    #facebook:hover, #twitterx:hover, #instagram:hover{
        scale: 1.25;
        opacity: 0.5;
    }
</style>

  
  
  