---
import {Image} from 'astro:assets'
import logo from '../images/logo.svg'
import iconLocation from '../images/icon-location.svg'
import iconPhone from '../images/icon-phone.svg'
import iconMail from '../images/icon-email.svg'

import  facebook from '../images/facebook.svg'
import  twitterx from '../images/twitter.svg'
import  instagram from '../images/instagram.svg'
---
<footer class="bg-gray-800 text-blue-200">
    <div>
        <Image src={logo} alt="logo" />
    </div>
    <article>
        <section>
            <div>
             <Image src={iconLocation} alt="location"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua
            </p>
            </div>
            <div>
            <Image src={iconPhone} alt="icon-phone"/>
            <p>+1-543-123-4567</p>
            </div>
            <div>
            <Image src={iconMail} alt="icon-mail"/>
            <p>example@huddle.com</p>
            </div>
        </section>
        <section>
            <ul>
                <li>About Us</li>
                <li>What We Do</li>
                <li>FAQ</li>
                <li>Career</li>
                <li>Blog</li>
                <li>Contact Us</li>
            </ul>
        </section>
        <section>
            <div>
                <Image src={facebook} alt="facebook"/>
                <Image src={twitterx} alt="twitter"/>
                <Image src={instagram} alt="instagram"/>
            </div>
        </section>
        <p>&copy; Copyright 2018 Huddle. All rights reserved.</p>
    </article>
</footer>

  
  

  
  
  